.grid {
    margin: 100px 0 0;
    margin-left: 6rem;
  }

#visualize-button {
    position: absolute;
    right: 44vw;
    top: 1rem;
    background-color: aqua;
    color: white;
    border: 0.2px solid rgb(214, 214, 214);
    height: 5rem;
    width: 11rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.wall-mode{
  background-color: blue;
}
.start-mode{
  background-color: blue;
}
.finish-mode{
  background-color: blue;
}
