.grid {

    margin-left: 6rem;
    padding-top: 3rem;
  }

#visualize-button {
    position: absolute;
    right: 10vw;
    top: 1rem;
    background-color: aqua;
    color: white;
    border: 0.2px solid rgb(214, 214, 214);
    height: 5rem;
    width: 11rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#visualize-buttons {
    position: absolute;
    right: 5vw;
    top: 9rem;
    background-color: aqua;
    color: white;
    border: 0.2px solid rgb(214, 214, 214);
    height: 5rem;
    width: 11rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.left {
  left: 5vw;
  top: 10rem;
}

.wall-mode{
  background-color: blue;
  border: 0.1px solid rgba(223, 223, 223, 0.8);
  border-radius: 0.2rem;
  background-color: aliceblue;
  padding: 1rem;
  font-weight: 600;
}
.start-mode{
  background-color: blue;
  border: 0.1px solid rgba(223, 223, 223, 0.8);
  border-radius: 0.2rem;
  background-color: aliceblue;
  padding: 1rem;
  font-weight: 600;

}
.finish-mode{
  background-color: blue;
  border: 0.1px solid rgba(223, 223, 223, 0.8);
  border-radius: 0.2rem;
  background-color: aliceblue;
  padding: 1rem;
  font-weight: 600;

}

.flex-buttons {
  padding-top: 1.5rem;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  padding-left: 5rem;

}

.button {
  border: 0.1px solid rgba(223, 223, 223, 0.8);
  border-radius: 0.2rem;
  background-color: aliceblue;
  color: rgb(153, 51, 99);
  padding: 1rem;

}






/* tree */

#canvas {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 95vw;
  height: 85vh;
  background-color: rgb(255, 255, 255);
  /* display: none; */
  border: 3px black solid
}
